* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 180px;
    background: #1F2937;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #1F2937;
    color: #F9FAF8;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 300px;
    max-width: 500px;
    gap: 20px;
    margin: 80px 20px 80px 180px;

}

.hero-img { 
    flex: 1 1 300px;
    max-width: 500px;
    margin: 80px 180px 80px 20px;
}

.hero-img img {
    width: 100%;
    height: 100%;
}

.hero-title {
    font-size: 48px;
    font-weight: bolder;
    color:#F9FAF8;
}

button {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 5px;
    border-style: none;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    margin: 40px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    color: #1F2937;
    max-width: 200px;
    max-height: auto;
    margin: 30px;
}

.container img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.quote {
    background: #E5E7EB;
    color: #1F2937;
    padding: 120px 180px;

}
.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}

.quote-person {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    margin-right: 60px;
}

.action {
    background: #3882F6;
    padding: 30px 60px;
    margin: 120px 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.action-text {
    color:#F9FAF8;
    flex: 1;
}
.action-title {
    font-size: 24px;
    font-weight: bold;
}

.footer {
    background: #1F2937;
    color: #F9FAF8;
    font-size: 16px;
    text-align: center;
    padding:40px 180px;
}

